<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/listas.css">
    <title>Document</title>
</head>
<body>
    <div class="container">
        <%- include('extras/header') %>

        <section class="livros-em-alta">
            <h2 style="text-align: center;"><%= lista.nome %></h2>

            <div class="book-list">
                <% lista.livros.forEach(livro => { %>
                    <div class="livro">
                        <a href="/pesquisa?q=<%= encodeURIComponent(livro.titulo) %>">
                            <img src="<%= livro.imagem %>" alt="Capa do Livro">
                            <p><%= livro.titulo %></p>
                        </a>
                    </div>
                <% }); %>
            </div>
            
        </section>
    </div>
</body>
</html>